@import "../_flex.scss";
@import "../_reset.scss";
$unit: 75 !default;

.password {
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  &-logo {
    @include center();
    width: 100%;
    height: 400 / $unit * 1rem;
    .logo {
      width: 110 / $unit * 1rem;
      height: 110 / $unit * 1rem;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &-form {
    width: 100%;
    padding: {
      left: 30 / $unit * 1rem;
      right: 30 / $unit * 1rem;
    }
    .form-list {
      width: 100%;
      margin-bottom: 18 / $unit * 1rem;
      .list-item {
        @include vertical_center();
        width: 100%;
        height: 129 / $unit * 1rem;
        // padding: {
        //   left: 27 / $unit * 1rem;
        //   right: 27 / $unit * 1rem;
        // }
        padding: {
          top: 40 / $unit * 1rem;
        }
        border-bottom: 1px solid #DBDBDB;
        i {
          @include font-dpr(24px);
          color: #C2C2C2;
        }
        .icon-delete {
          display: none;
          @include font-dpr(16px);
          margin: {
            right: 45 / $unit * 1rem;
          }
        }
        .item-input {
          @include flex_1();
          height: 100%;
          padding: {
            left: 30 / $unit * 1rem;
          }
          @include font-dpr(16px);
          font-weight: 500;
          color: #262626;
          &::-webkit-input-placeholder {
            color: #C2C2C2;
          }
        }
        .item-code {
          @include flex_1();
          @include vertical_center();
          width: 400 / $unit * 1rem;
          height: 100%;
          i {
            @include font-dpr(24px);
            color: #C2C2C2;
          }
          input {
            width: 300 / $unit * 1rem;
            height: 100%;
            padding: {
              left: 30 / $unit * 1rem;
            }
            @include font-dpr(16px);
            font-weight: 500;
            color: #262626;
            &::-webkit-input-placeholder {
              color: #C2C2C2;
            }
          }
        }
        .item-btn {
          @include center();
          width: 200 / $unit * 1rem;
          height: 100%;
          .btn-text {
            width: 100%;
            height: 100%;
            @include font-dpr(15px);
            font-weight: 500;
            color: #FB9C27;
          }
        }
        .ready {
          color: #ccc !important;
        }
      }
    }
    .form-protocol {
      @include vertical-center();
      width: 100%;
      height: 111 / $unit * 1rem;
      padding: {
        left: 18 / $unit * 1rem;
      }
      @include font-dpr(14px);
      font-weight: 500;
      color: #999;
      span:last-of-type {
        color: #333;
      }
    }
    .form-submit {
      width: 100%;
      height: 90 / $unit * 1rem;
      margin: {
        top: 60 / $unit * 1rem;
      }

      .submit-btn {
        width: 100%;
        height: 100%;
        @include font-dpr(18px);
        font-weight: 700;
        color: #fff;
        background: #FB9C27;
        border-radius: 45 / $unit * 1rem;
      }
    }
    .form-hint {
      width: 100%;
      margin: {
        top: 78 / $unit * 1rem;
      }
      padding: {
        right: 30 / $unit * 1rem;
      }
      text-align: right;
      @include font-dpr(14px);
      font-weight: 500;
      color: #262626;
    }
  }
}
