@import "../_flex.scss";
@import "../_reset.scss";
$unit: 75 !default;

.credit {
  // position: relative;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  // overflow: auto;
  &-header {
    position: relative;
    width: 100%;
    height: 87 / $unit * 1rem;
    background-color: #FB9C27;
    // .header-text {
    //   @include vertical_center();
    //   width: 100%;
    //   height: 86 / $unit * 1rem;
    //   padding: {
    //     left: 54 / $unit * 1rem;
    //   }
    //   @include font-dpr(17px);
    //   font-weight: 700;
    //   color: #fff;
    // }
  }
  &-main {
    position: relative;
    width: 100%;
    margin-top: -87 / $unit * 1rem;
    padding: {
      left: 30 / $unit * 1rem;
      right: 30 / $unit * 1rem;
    }
    .mian-info {
      width: 100%;
      height: 200 / $unit * 1rem;
      margin: {
        bottom: 46 / $unit * 1rem;
      }
      background-color: #fff;
      box-shadow:0px 3 / $unit * 1rem 5 / $unit * 1rem 0px rgba(165, 165, 165, 0.35);
      border-radius: 16 / $unit * 1rem;
      background-color: #ffffff;
      .info-item {
        @include vertical_center();
        width: 100%;
        height: 100 / $unit * 1rem;
        padding: {
          left: 30 / $unit * 1rem;
        }
        @include font-dpr(15px);
        font-weight: 500;
        border-bottom: 1px solid #eee;
        span:first-of-type {
          display: inline-block;
          width: 150 / $unit * 1rem;
          color: #666;
        }
        span:last-of-type {
          color: #333;
        }
        &:last-of-type {
          border: none;
        }
      }
    }
    .main-upload {
      width: 100%;
      height: 600 / $unit * 1rem;
      margin: {
        bottom: 30 / $unit * 1rem;
      }
      background-color: #fff;
      box-shadow:0px 3 / $unit * 1rem 5 / $unit * 1rem 0px rgba(165, 165, 165, 0.35);
      border-radius: 16 / $unit * 1rem;
      background-color: #ffffff;
      .upload-step {
        width: 100%;
        .step-title {
          @include vertical_center();
          width: 100%;
          height: 100 / $unit * 1rem;
          padding: {
            left: 30 / $unit * 1rem;
            right: 30 / $unit * 1rem;
          }
          @include font-dpr(15px);
          font-weight: 500;
          color: #666;
        }
        .step-container {
          @include vertical_center_horizontal_between();
          width: 100%;
          height: 180 / $unit * 1rem;
          padding: {
            left: 49 / $unit * 1rem;
            right: 49 / $unit * 1rem;
          }
          .container-item {
            @include column_center();
            width: 270 / $unit * 1rem;
            height: 180 / $unit * 1rem;
            background: rgba(255,255,255,1);
            border: 1px solid #F3F3F3;
            box-shadow: 0px 0px 5 / $unit * 1rem 0px rgba(106,106,106,0.09);
            border-radius: 8 / $unit * 1rem;
            .item-img {
              width: 80 / $unit * 1rem;
              height: 80 / $unit * 1rem;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .item-text {
              @include center();
              width: 100%;
              height: 50 / $unit * 1rem;
              @include font-dpr(13px);
              font-weight: 500;
              color: #999;
            }
          }
        }
      }
    }
    .main-submit {
      width: 100%;
      height: 90 / $unit * 1rem;
      .submit-btn {
        width: 100%;
        height: 100%;
        @include font-dpr(18px);
        font-weight: 700;
        color: #fff;
        background: linear-gradient(90deg,rgba(254,155,67,1),rgba(255,172,53,1));
        box-shadow: 0 6 / $unit * 1rem 10 / $unit * 1rem 0 rgba(254,159,64,0.33);
        border-radius: 45 / $unit * 1rem;
      }
    }
  }
}
