@charset "UTF-8";
/*
项目采用采用淘宝flexible.js来进行页面适配，flexible.js会根据手机的dpr来配置页面跟元素的字体大小，然后采用rem来进行适配。
根据设计图的十分之一来确定元素为多少rem     x  =  量取实际尺寸 / 页面宽度的十分之一  *  1rem
$unit设置为设计图的十分之一，宽高通过设计图的实际宽高除以 $unit * 1rem计算出为多少REM,
这样无论屏幕怎么变化只需得到HTML的font-size值(flexible会自动变换fontsize值)乘以REM就是变化后的宽高；
 flexible根据dpr的不同来设置字体大小，引入时传入1dpr的字体大小，设计图大小 / 2
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ol,
ul,
li {
  list-style: none; }

a {
  text-decoration: none;
  color: none; }

button,
input {
  outline: none;
  border: none;
  background: none; }

[v-cloak] {
  display: none; }

html, body {
  height: 100%;
  width: 100%; }

@font-face {
  font-family: Condensed;
  src: url("../DIN-Condensed-Bold.ttf"); }
.mine {
  width: 100%;
  height: 100%; }
  .mine-header {
    width: 100%;
    height: 4.5466666667rem;
    padding-top: 0.56rem;
    background-color: #FB9C27; }
  .mine-main {
    position: relative;
    width: 100%;
    margin-top: -1.7333333333rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem; }
    .mine-main .main-head {
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      align-items: center;
      align-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -webkit-align-content: center;
      width: 100%;
      height: 3.3333333333rem;
      background-color: #fff;
      box-shadow: 0 0.04rem 0.0666666667rem 0 rgba(114, 114, 114, 0.18);
      border-radius: 0.2133333333rem; }
      .mine-main .main-head .head-portrait {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        align-items: center;
        align-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -webkit-align-content: center;
        justify-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        width: 2.12rem;
        height: 2.12rem;
        margin-top: -1.2rem; }
        .mine-main .main-head .head-portrait img {
          width: 100%;
          height: 100%; }
      .mine-main .main-head .head-tel {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        align-items: center;
        align-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -webkit-align-content: center;
        height: 0.96rem;
        font-size: 21px;
        font-weight: 700;
        color: #333; }
        [data-dpr="2"] .mine-main .main-head .head-tel {
          font-size: 42px; }
        [data-dpr="3"] .mine-main .main-head .head-tel {
          font-size: 63px; }
      .mine-main .main-head .head-progress {
        width: 7.0933333333rem;
        margin-top: 0.24rem; }
        .mine-main .main-head .head-progress .progress-container {
          width: 100%;
          height: 0.24rem;
          background: #F6F6F6;
          border-radius: 0.12rem; }
          .mine-main .main-head .head-progress .progress-container .container-bar {
            width: 50%;
            height: 0.24rem;
            background: #FC9A29;
            border-radius: 0.12rem; }
        .mine-main .main-head .head-progress .progress-text {
          display: flex;
          display: -webkit-box;
          display: -webkit-flex;
          align-items: center;
          align-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -webkit-align-content: center;
          justify-content: space-between;
          -webkit-box-pack: space-between;
          -webkit-justify-content: space-between;
          width: 100%;
          height: 0.72rem; }
          .mine-main .main-head .head-progress .progress-text .text-title {
            font-size: 12px;
            color: #666; }
            [data-dpr="2"] .mine-main .main-head .head-progress .progress-text .text-title {
              font-size: 24px; }
            [data-dpr="3"] .mine-main .main-head .head-progress .progress-text .text-title {
              font-size: 36px; }
          .mine-main .main-head .head-progress .progress-text .text-score {
            font-family: Condensed;
            font-size: 15px;
            font-weight: 700;
            color: #666; }
            [data-dpr="2"] .mine-main .main-head .head-progress .progress-text .text-score {
              font-size: 30px; }
            [data-dpr="3"] .mine-main .main-head .head-progress .progress-text .text-score {
              font-size: 45px; }
            .mine-main .main-head .head-progress .progress-text .text-score span:first-of-type {
              color: #FF9007; }
    .mine-main .main-list {
      width: 100%;
      margin-top: 0.4rem;
      margin-bottom: 0.2933333333rem;
      background-color: #fff;
      box-shadow: 0 0.04rem 0.0666666667rem 0 rgba(114, 114, 114, 0.18);
      border-radius: 0.2133333333rem; }
      .mine-main .main-list .list-item {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        align-items: center;
        align-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -webkit-align-content: center;
        width: 100%;
        height: 1.4933333333rem;
        padding-left: 0.4rem; }
        .mine-main .main-list .list-item .item-icon {
          margin-right: 0.32rem; }
          .mine-main .main-list .list-item .item-icon .orange-color {
            color: #FFAA5C; }
          .mine-main .main-list .list-item .item-icon .purple-color {
            color: #A97DFF; }
          .mine-main .main-list .list-item .item-icon .blue-color {
            color: #5CC2FF; }
          .mine-main .main-list .list-item .item-icon .green-color {
            color: #42D167; }
          .mine-main .main-list .list-item .item-icon .red-color {
            color: #FA5F42; }
          .mine-main .main-list .list-item .item-icon i {
            font-size: 20px;
            color: #999; }
            [data-dpr="2"] .mine-main .main-list .list-item .item-icon i {
              font-size: 40px; }
            [data-dpr="3"] .mine-main .main-list .list-item .item-icon i {
              font-size: 60px; }
        .mine-main .main-list .list-item .item-detail {
          display: flex;
          display: -webkit-box;
          display: -webkit-flex;
          align-items: center;
          align-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -webkit-align-content: center;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          flex: 1;
          height: 100%;
          padding-right: 0.4rem;
          border-bottom: 1px solid #eee; }
          .mine-main .main-list .list-item .item-detail .detail-text {
            display: flex;
            display: -webkit-box;
            display: -webkit-flex;
            align-items: center;
            align-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -webkit-align-content: center;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            height: 100%;
            font-size: 15px;
            font-weight: 500;
            color: #333; }
            [data-dpr="2"] .mine-main .main-list .list-item .item-detail .detail-text {
              font-size: 30px; }
            [data-dpr="3"] .mine-main .main-list .list-item .item-detail .detail-text {
              font-size: 45px; }
          .mine-main .main-list .list-item .item-detail .detail-arrow {
            width: 0.5333333333rem; }
            .mine-main .main-list .list-item .item-detail .detail-arrow i {
              font-size: 14px;
              color: #999; }
              [data-dpr="2"] .mine-main .main-list .list-item .item-detail .detail-arrow i {
                font-size: 28px; }
              [data-dpr="3"] .mine-main .main-list .list-item .item-detail .detail-arrow i {
                font-size: 42px; }
      .mine-main .main-list .list-item:last-of-type .item-detail {
        border-bottom: none; }
    .mine-main .main-exit {
      width: 100%;
      height: 1.3333333333rem;
      background-color: #fff;
      box-shadow: 0 0.04rem 0.0666666667rem 0 rgba(114, 114, 114, 0.18);
      border-radius: 0.2133333333rem; }
      .mine-main .main-exit .exit-btn {
        width: 100%;
        height: 100%;
        background-color: #fff;
        font-size: 15px;
        font-weight: 500;
        color: #333; }
        [data-dpr="2"] .mine-main .main-exit .exit-btn {
          font-size: 30px; }
        [data-dpr="3"] .mine-main .main-exit .exit-btn {
          font-size: 45px; }

/*# sourceMappingURL=mine.css.map */
