@charset "UTF-8";
/*
项目采用采用淘宝flexible.js来进行页面适配，flexible.js会根据手机的dpr来配置页面跟元素的字体大小，然后采用rem来进行适配。
根据设计图的十分之一来确定元素为多少rem     x  =  量取实际尺寸 / 页面宽度的十分之一  *  1rem
$unit设置为设计图的十分之一，宽高通过设计图的实际宽高除以 $unit * 1rem计算出为多少REM,
这样无论屏幕怎么变化只需得到HTML的font-size值(flexible会自动变换fontsize值)乘以REM就是变化后的宽高；
 flexible根据dpr的不同来设置字体大小，引入时传入1dpr的字体大小，设计图大小 / 2
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ol,
ul,
li {
  list-style: none; }

a {
  text-decoration: none;
  color: none; }

button,
input {
  outline: none;
  border: none;
  background: none; }

[v-cloak] {
  display: none; }

html, body {
  height: 100%;
  width: 100%; }

.toast {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -webkit-align-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); }
  .toast-main {
    width: 7.4666666667rem;
    height: 5.8933333333rem;
    background-color: #ffffff;
    border-radius: 0.3466666667rem; }
    .toast-main .main-img {
      width: 2.4133333333rem;
      height: 2.4133333333rem;
      margin-top: -1.2rem;
      margin-left: auto;
      margin-right: auto; }
      .toast-main .main-img img {
        width: 100%;
        height: 100%; }
    .toast-main .main-title {
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      align-items: center;
      align-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -webkit-align-content: center;
      justify-content: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      width: 100%;
      height: 0.7466666667rem;
      margin-top: 0.48rem;
      font-size: 17px;
      font-weight: 700;
      color: #333; }
      [data-dpr="2"] .toast-main .main-title {
        font-size: 34px; }
      [data-dpr="3"] .toast-main .main-title {
        font-size: 51px; }
    .toast-main .main-hint {
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      align-items: center;
      align-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -webkit-align-content: center;
      justify-content: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      width: 100%;
      height: 0.6933333333rem;
      font-size: 15px;
      font-weight: 500;
      color: #999; }
      [data-dpr="2"] .toast-main .main-hint {
        font-size: 30px; }
      [data-dpr="3"] .toast-main .main-hint {
        font-size: 45px; }
    .toast-main .main-submit {
      width: 100%;
      height: 1.3333333333rem;
      padding-left: 0.4rem;
      padding-right: 0.4rem;
      margin-top: 0.48rem; }
      .toast-main .main-submit .submit-btn {
        width: 100%;
        height: 100%;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        background: linear-gradient(90deg, #fe9b43, #ffac35);
        box-shadow: 0 0.08rem 0.1333333333rem 0 rgba(254, 159, 64, 0.33);
        border-radius: 0.6666666667rem; }
        [data-dpr="2"] .toast-main .main-submit .submit-btn {
          font-size: 36px; }
        [data-dpr="3"] .toast-main .main-submit .submit-btn {
          font-size: 54px; }

/*# sourceMappingURL=borrow-toast.css.map */
