@import "../_flex.scss";
@import "../_reset.scss";
$unit: 75 !default;

@font-face {
  font-family: Condensed;
  src: url('../DIN-Condensed-Bold.ttf');
}

.credit {
  width: 100%;
  height: 100%;
  &-header {
    width: 100%;
    height: 173 / $unit * 1rem;
    background-color: #FB9C27;
    .header-tip {
      @include vertical-center();
      width: 100%;
      height: 70 / $unit * 1rem;
      padding: {
        left: 60 / $unit * 1rem;
      }
      @include font-dpr(17px);
      font-weight: 700;
      color: #fff;
    }
  }
  &-main {
    position: relative;
    width: 100%;
    // height: 819 / $unit * 1rem;
    margin-top: -103 / $unit * 1rem;
    padding: {
      left: 30 / $unit * 1rem;
      right: 30 / $unit * 1rem;
    }
    .main-head {
      @include vertical-center();
      width: 100%;
      height: 250 / $unit * 1rem;
      padding: {
        right: 55 / $unit * 1rem;
      }
      background-color: #fff;
      box-shadow:0 3 / $unit * 1rem 5 / $unit * 1rem 0 rgba(114,114,114,0.18);
      border-radius:16 / $unit * 1rem;
      .head-detail {
        @include vertical_horizontal_center();
        @include flex_1();
        height: 100%;
        .detail-tel {
          @include vertical-center();
          width:100%;
          height: 78 / $unit * 1rem;
          padding: {
            left: 32 / $unit * 1rem;
          }
          @include font-dpr(24px);
          font-weight: 700;
          color: #333;
        }
        .detail-credit {
          width: 100%;
          img {
            width: 100 / $unit * 1rem;
            height: 34 / $unit * 1rem;
            margin: {
              left: 38 / $unit * 1rem;
            }
          }
        }
      }
      .head-progress {
        @include center();
        width: 200 / $unit * 1rem;
        height: 200 / $unit * 1rem;
        .progress-value {
          margin: {
            top: 20 / $unit * 1rem;
          }
          font-family: Condensed;
          @include font-dpr(40px);
          font-weight: 700;
          color: #FF9007;
        }
      }
    }
    .mian-progress {
      width: 100%;
      margin: {
        top: 39 / $unit * 1rem;
      }
      .progress-step {
        @include vertical-center();
        width: 100%;
        height: 150 / $unit * 1rem;
        padding: {
          left: 24 / $unit * 1rem;
          right: 24 / $unit * 1rem;
        }
        margin: {
          bottom: 22 / $unit * 1rem;
        }
        background-color: #fff;
        box-shadow:0 3 / $unit * 1rem 5 / $unit * 1rem 0 rgba(114,114,114,0.18);
        border-radius:16 / $unit * 1rem;
        .step-icon {
          width: 80 / $unit * 1rem;
          height: 80 / $unit * 1rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .step-detail {
          @include vertical_horizontal_center();
          @include flex_1();
          padding: {
            left: 22 / $unit * 1rem;
          }
          .detail-title {
            @include vertical-center();
            width:100%;
            height: 44 / $unit * 1rem;
            @include font-dpr(15px);
            font-weight: 700;
            color: #333;
          }
          .detail-explain {
            @include vertical-center();
            width:100%;
            height: 39 / $unit * 1rem;
            @include font-dpr(12px);
            color: #999;
          }
        }
        .step-btn {
          width: 140 / $unit * 1rem;
          height: 60 / $unit * 1rem;
          .btn-finish {
            @include center;
            display: none;
            width: 100%;
            height: 100%;
            @include font-dpr(15px);
            font-weight: 500;
            color: #48D46A;
            background-color: #fff;
          }
          .btn-unfinished {
            width: 100%;
            height: 100%;
            @include font-dpr(15px);
            font-weight: 500;
            color: #fff;
            background-color: #FB9C27;
            border-radius: 30 / $unit * 1rem;
          }
        }
      }
    }
  }
}
